{% extends 'quest/quest_template.html' %}
{% block quest_head %}
    <link href="/static/summernote/summernote-bs4.css" rel="stylesheet">
    <script src="/static/summernote/summernote-bs4.js"></script>
    <script src="/static/summernote/summernote-zh-CN.min.js"></script>
    <script>
        $(document).ready(function () {
            fetch("/resource/quest/{{ quest.qid }}/article.html").then(function (response) {
                if (response.status === 404)
                    return "";
                if (response.status === 403)
                    return "您暂无权限浏览。";
                return response.text();
            }).then(function (r) {
                $("#summernote").html(r);
                load_editor({{ quest.qid }});
            });
        });
    </script>

{% endblock %}
{% block quest_body %}
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">稿件</span>
        <span>
        {% if user and user.privilege.operate_quest and (quest.status == "FINISHED" or quest.status == "CLOSED") %}
            <span class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="accessibility" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                公开情况
            </button>
            <div class="dropdown-menu" aria-labelledby="accessibility">
                <a class="dropdown-item {% if quest.public_access == True %}active{% endif %}" href="#" onclick="return change_quest_accessibility({{ quest.qid }}, 1);">游客可见</a>
                <a class="dropdown-item {% if quest.public_access == False%}active{% endif %}" href="#" onclick="return change_quest_accessibility({{ quest.qid }}, 0);">游客不可见</a>
                </div>
            </span>
        {% endif %}
            {% if user and quest.accept_by == user and quest.status == "WORKING" %}
                <button type="button" class="btn btn-secondary" onclick="return update_article({{ quest.qid }})">保存
            </button>{% endif %}
        </span>
    </h4>
    <div id="summernote">加载中...</div>
    {% if user and quest.accept_by == user and quest.status == "WORKING" %}
        <script src="/static/js/quest_uploader.js"></script>
    {% endif %}
{% endblock %}