{% extends 'quest/quest_template.html' %}
{% block quest_head %}
    <link href="/static/summernote/summernote-bs4.css" rel="stylesheet">
    <script src="/static/summernote/summernote-bs4.js"></script>
    <script src="/static/summernote/summernote-zh-CN.min.js"></script>
    <script>
    $(document).ready(function () {
        fetch("/resource/quest/{{ quest.qid }}/article.html").then(response => response.text()).then(function (r) {
            console.log(r);
            $("#summernote").html(r);
        });
    });
    </script>
{% endblock %}
{% block quest_body %}
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">稿件</span>
        {% if user and quest.accept_by == user and quest.status == "WORKING" %}
            <button type="button" class="btn btn-secondary" onclick="return update_article({{ quest.qid }})">保存
            </button>{% endif %}
    </h4>
    <div id="summernote"></div>
    {% if user and quest.accept_by == user and quest.status == "WORKING" %}
        <script src="/static/js/quest_uploader.js"></script>
    {% endif %}
{% endblock %}