{% extends 'quest/quest_template.html' %}
{% block quest_head %}
    <link href="/static/css/summernote-bs4.css" rel="stylesheet">
    <script src="/static/js/summernote-bs4.js"></script>
    <script src="/static/js/summernote-zh-CN.min.js"></script>
    <script>
        var original = "";
        var article = "";
        $(document).ready(function () {
            fetch("/resource/.sys/quest/{{ quest.qid }}/article.html",{credentials: "same-origin"}).then(function (response) {
                if (response.status === 404)
                    return "";
                if (response.status === 403)
                    return "您暂无权限浏览。";
                return response.text();
            }).then(function (article_html) {
                $("#summernote").html(article_html);
                article = article_html;
                fetch("/resource/.sys/quest/{{ quest.qid }}/original.html",{credentials: "same-origin"}).then(function (response) {
                    if (response.status === 404)
                        return "";
                    if (response.status === 403)
                        return "您暂无权限浏览。";
                    return response.text();
                }).then(function (original_html) {
                    original = original_html;
                    $("#comparing_area").html(htmldiff(original, article));
                });
                load_editor({{ quest.qid }}, true);
            });
        });
    </script>
    <link href="/static/css/font_loader.css" rel="stylesheet">
    <link href="/static/css/diff.css" rel="stylesheet">
    <script src="/static/js/htmldiff.js"></script>
    <script src="/static/js/proofreading.js"></script>
{% endblock %}
{% block quest_body %}
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">校对</span>
        <span>
        {% if user %}
            <script src="/static/js/import_export.js"></script>
            <script src="/static/js/FileSaver.js"></script>
            <script src="/static/js/html-docx.js"></script>
            <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="export"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                导出
            </button>
            <div class="dropdown-menu" aria-labelledby="export">
                <a class="dropdown-item" href="#"
                   onclick="return export_word({{ quest.qid }}, filename);">导出为Word</a>
                <a class="dropdown-item" href="#"
                   onclick="return export_txt({{ quest.qid }}, filename);">导出为txt</a>
            </div>
            </span>
        {% endif %}
        {% if user and user.privilege.operate_quest and (quest.status == "FINISHED" or quest.status == "CLOSED") %}
            <span class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="accessibility"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                公开情况
            </button>
            <div class="dropdown-menu" aria-labelledby="accessibility">
                <a class="dropdown-item {% if quest.public_access == True %}active{% endif %}" href="#"
                   onclick="return change_quest_accessibility({{ quest.qid }}, 1);">游客可见</a>
                <a class="dropdown-item {% if quest.public_access == False %}active{% endif %}" href="#"
                   onclick="return change_quest_accessibility({{ quest.qid }}, 0);">游客不可见</a>
                </div>
            </span>
        {% endif %}
            {% if user and quest.accept_by == user and quest.status == "WORKING" %}
                <span id="saveSuccessTag" class="btn btn-success" style="display: none;">保存成功</span>
                <button id="fetchButton" type="button" class="btn btn-info"
                        onclick="return trigger_fetch_modal();">获取原稿</button>
                <button id="saveButton" type="button" class="btn btn-secondary"
                        onclick="return update_article({{ quest.qid }})">保存
                </button>
            {% endif %}
        </span>
    </h4>
    <div class="row">
        {% if user and quest.accept_by == user and quest.status == "WORKING" %}
            <div class="col-lg-6 col-md-12 col-sm-12" id="working_area">
                <div id="summernote">加载中...</div>
            </div>
        {% endif %}
        <div class="col" id="comparing_area">
            加载中...
        </div>
    </div>
    {% if user and quest.accept_by == user and quest.status == "WORKING" %}
        <div class="modal fade" id="unsave_fetch_confirm" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">等一下！</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        获取原稿后会刷新页面，所有未保存的更改都会消失。确认继续吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            我再想想
                        </button>
                        <button type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#fetch_form" data-dismiss="modal">
                            继续
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="fetch_form" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">获取原稿</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-inline">
                                <label for="target_qid">原稿: </label>
                                <select name="target_qid" class="form-control" id="target_qid">
                                    {% for q in quest.chapter.quests %}
                                        {% if q != quest  and q.resource %}
                                            <option value="{{ q.qid }}">{{ q.quest_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-inline">
                                <label class="form-check-label" for="to_article">同时<b>覆盖</b>到编辑区</label>
                                <input name="to_article" class="form-check-input" type="checkbox"
                                       checked id="to_article">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-primary"
                                    onclick="return fetch_original({{ quest.qid }}, target_qid, to_article);">
                                获取
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/static/js/quest_uploader.js"></script>
    {% endif %}
{% endblock %}