{% extends 'navbar.html' %}
{% block title %}关于 - 九九组{% endblock %}
{% block head %}
    <style>
		.mask{
            position: relative;
            //width:658px;
            //height:1024px;
            overflow: hidden;
        }
        .mask:after{
            white-space: pre;
            content:  attr(data-title)"\000A""咕咕咕 ""\000A""天下第一咕咕咕 汉化工房九九组""\000A""Copyright 2019 汉化工房九九组 All Right Saved 版权所有 侵权必究";
            position: absolute;
            width:100%;
            top:100%;
            left:0;
            padding: 12em 0;
            text-align: right;
            font-size: 20px;
            color: #fff;
            background-color: rgba(52,47,41,.5);
            -webkit-transition:all .3s ease-in-out;
            transition:all .4s ease-in-out;
            opacity: 0;
        }
        .mask:hover:after{
            opacity: 1;
            -webkit-transform:translate(0,-100%);
            transform:translate(0,-100%);
        }
    </style>
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">关于</li>
        </ol>
    </nav>
	<div class="mask" data-title="汉化工房 九九组">
				<!--<p style="{overflow: hidden;}">汉化工房 九九组</p>-->
		<img width="658px" height="1024px" src="/static/about.jpg"/>
		<p style="{overflow: hidden;text-align: right;}">Copyright 2019 汉化工房九九组 All Right Saved 版权所有 侵权必究</p>
    </div>
{% endblock %}