{% extends 'navbar.html' %}
{% block title %}关于 - 九九组{% endblock %}
{% block head %}
    <style>
        .content {
            text-align: center;
        }

        h1 {
            color: #6c757d;
        }
    </style>
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">关于</li>
        </ol>
    </nav>
    <span class="content">
<h1>关于本组</h1>
<div>咕~咕~咕~咕~咕~咕~咕~咕~</div>
    </span>
{% endblock %}