{% extends 'navbar.html' %}
{% block title %}{{ manga.manga_name }} - 九九组{% endblock %}
{% block head %}
    <style>
        #container {
            margin-left: 5%;
            margin-right: 5%;
        }

        .content {
            margin-top: 2rem;
        }

        h1 {
            color: #6c757d;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Chrome/Safari/Opera */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }
    </style>
{% endblock %}
{% block body %}
    <div class="content">
        <div id="container" class="row">
            <div class="col-lg-12">
                <h1>{{ manga.manga_name }}</h1>
            </div>
        </div>
        <div id="container" class="row">
            <div class="col-md-9 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">章节</span>
                    <span>
                    <span class="badge badge-primary badge-pill">12</span>
                    <span class="badge badge-danger badge-pill">3</span>
                    <span class="badge badge-success badge-pill">2</span></span>
                </h4>
                <div class="row">
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                    <div>
                    <span onclick="window.location.href='/chapter/1';"
                          class="card mb-2 shadow-sm bg-primary text-white noselect"
                          style="margin-left: 1rem">
                        <div class="card-body">
                            <h6 class="card-title"><nobr>第20话</nobr></h6>
                            <span class="badge badge-secondary badge-pill">翻译</span>
                            <span class="badge badge-secondary badge-pill">嵌字</span>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-md-1">
                <img src="/static/1.jpeg" class="img-fluid rounded shadow-sm" />
                <h4 class="text-muted">Metadata</h4>
                <div class="text-body">开坑时间: 2019年4月</div>
            </div>

        </div>
    </div>
{% endblock %}