<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!--link href="/static/css/bootstrap.min.css" rel="stylesheet"-->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {

            padding-top: 3.5rem;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #FF9900!important;">
    <a class="navbar-brand" href="/">九九组</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/manga">漫画</a>
            </li>
            {% if user %}
                <li class="nav-item">
                    <a class="nav-link" href="/pan/">文件</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/member">成员</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">关于</a>
            </li>

        </ul>
        <ul class="navbar-nav mt-auto">
            {% if not user %}
                <li class="nav-item">
                    <a class="nav-link disabled">注册</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link nickname" href="#" onclick="login_redirect();">{% if user %}{{ user.nickname }}{% else %}登录{% endif %}<span
                        class="sr-only">(current)</span></a>
                <script>
                    function login_redirect() {
                        window.location.href = "/login?callback=" + window.location.pathname;
                    }
                </script>

            </li>
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
<!--script src="/static/js/bootstrap.bundle.min.js"></script-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>
</html>
