{% extends 'navbar.html' %}
{% block title %}{{ chapter.chapter_name }}{{ quest.quest_name }} - {{ manga.manga_name }} - 九九组{% endblock %}
{% block head %}
    <style>
        @media (min-width: 768px) {
            .jumbotron {
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
        }

        .jumbotron {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 0;
            background-color: #fff;
        }

        .jumbotron p:last-child {
            margin-bottom: 0;
        }

        .jumbotron-heading {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }

        .note-editor, #summernote {
            margin-left: 4rem;
            margin-right: 4rem;
            line-height: 1rem;
        }
    </style>
    <link href="/static/summernote/summernote-bs4.css" rel="stylesheet">
    <script src="/static/summernote/summernote-bs4.js"></script>
    <script src="/static/summernote/summernote-zh-CN.min.js"></script>
{% endblock %}
{% block body %}

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ manga.manga_name }}
                    {{ chapter.chapter_name }}{{ quest.quest_name }}</h1>
                {% if not user %}<p class="lead text-muted">承接人：{{ quest.accept_by.nickname }}</p>{% endif %}
                <p>
                    {% if user %}<a href="/dashboard/quest" class="btn btn-primary my-2">提交任务</a>
                        <a href="#" class="btn btn-secondary my-2">保存</a>{% endif %}
                </p>
            </div>
        </section>
        <div id="summernote"></div>
        <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                lang: 'zh-CN',
                airMode: false,
                placeholder: '点按这里开始键入内容',
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New']
            });
        });
        </script>
    </main>
{% endblock %}