{% extends 'dashboard/sidebar.html' %}
{% block title %}任务 - 九九组{% endblock %}
{% block main_head %}
    <script src="/static/js/time_util.js"></script>
{% endblock %}
{% block quest %}active{% endblock %}
{% block main %}
    <div class="container">
        <h1 style="text-align: center">任务</h1>
        <div class="on_going">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">进行中的任务</span>
            </h4>
            <ul class="list-group mb-3">
                {% for quest in get_quests(uid=user.uid, status="WORKING") %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <a class="my-0 h6" href="/quest/{{ quest.qid }}">
                                {{ quest.chapter.manga.manga_name }}{{ quest.chapter.chapter_name }}{{ quest.quest_name }}</a><br>
                            <small class="text-muted"></small>
                        </div>
                        <span class="text-muted" id="qid{{ quest.qid }}"
                              style="font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace"><script>setTimer("qid{{ quest.qid }}", {{ quest.accept_on.timestamp() }})</script></span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="finished">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">已完成的任务</span>
            </h4>
            <ul class="list-group mb-3">
                {% for quest in get_quests(uid=user.uid, status="FINISHED") %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <a class="my-0 h6" href="/quest/{{ quest.qid }}">
                                {{ quest.chapter.manga.manga_name }}{{ quest.chapter.chapter_name }}{{ quest.quest_name }}</a><br>
                            <small class="text-muted"></small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}